#image{
     background-image: url('image.jpeg');
    background-size: cover;
}

#image_2{
     background-image: url('image 2.jpg');
    background-size: cover;
}

#image_3{
     background-image: url('image 3.jpg');
    background-size: cover;
}
